/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 240; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* --hue-color-secondary: 240; */
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 100%, 62%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --container-color: hsl(0, 0%, 100%);
  --body-color: hsl(240, 60%, 99%);
  /* --bg-color-dark: hsl(240, 15%, 11%); */
  --input-color: hsl(237, 17%, 22%);
  --primary-color: hsl(240, 100%, 62%);
  --color-secondary: hsl(237, 17%, 22%);

  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*========== bg-light colors ==========*/
  --white-color: hsl(0, 0%, 100%);
  --bg-color-dark: hsl(244, 19%, 14%);
  --bg-color-dark-md: hsl(233, 19%, 18%);
  --bg-color-dark-light: hsl(237, 17%, 22%);
  --color-primary: hsl(212, 99%, 49%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/*========== Variables Dark theme ==========*/

body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --color-secondary: hsl(0, 0%, 100%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

  /*========== bg-light colors ==========*/
  --bg-color-dark: hsl(244, 19%, 14%);
  --bg-color-dark-md: hsl(233, 19%, 18%);
  --bg-color-dark-light: hsl(237, 17%, 22%);
  --primary-color: hsl(212, 99%, 49%);

  --color-primary: hsl(212, 99%, 49%);
  --input-color: hsl(237, 17%, 22%);
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--primary-color);
}

/*==================== BASE ====================*/
/* Reset */
/* Box sizing rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS HELPER CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  /* margin-bottom: 2rem; */
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.flex {
  display: flex;
}

.flex__container-center {
  display: flex;
  justify-content: center;
}

.main {
  overflow: hidden;
}

.hidden {
  display: none;
}

#middle__line {
  display: none;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--primary-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--primary-color);
}

/* Media Query */
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--primary-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  top: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.nav__close:hover {
  color: var(--primary-color);
}
/* show menu */

.show-menu {
  bottom: 0;
}

/*==================== HOME ====================*/

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  /* grid-template-columns: 3fr; */
  padding-top: 3.5rem;
  align-items: center;
  /* justify-content: center; */
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 2rem;
  /* color: var(--primary-color); */
  color: var(--color-secondary);
}

.home__social-icon:hover {
  color: var(--primary-color);
}

.home__img {
  /* width: 300px; */

  /* background-color: yellow; */
  width: 100%;
}
.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
  /* font-weight: var(--font-semi-bold); */
}

.home__subtile {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);

  /* margin-bottom: var(--mb-0-75); */
}

/* .home__description {
  margin-bottom: var(--mb-2);
} */

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--primary-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

/* scroll-down : TODO:*/
.home__scroll-down {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 2rem;

  /* line-height: 21px; */
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.625rem 0.75rem;
  border-radius: 0.375rem;
  font-weight: var(--font-medium);
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.95;
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button-small {
  padding: 0.75rem 1rem;
}
.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--primary-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/*==================== ABOUT ====================*/
.about__img {
  width: 200px;
  /* border-radius: 0.5rem; */
  justify-self: center;
  align-items: center;
}
.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
}

.about__info-name {
  font-size: var(--small-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*==================== QUALIFICATION ====================*/

.qualification__tabs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 1rem;
}
.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

/* .qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
} */
.qualification__data {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}
.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}

.qualification__detail {
  margin-bottom: 1rem;
}

/*==================== SKILLS ====================*/
.skills__container {
  /* row-gap: 0; */
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills__content {
  /* background-color: var(--container-color); */
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.skills__content:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.skills__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.skills .uil-check-circle {
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

/*==================== SERVICES ====================*/

.services__container {
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 1.5rem;
  padding-top: 1rem;
}

.services__card {
  background-color: var(--container-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  padding: 3rem 1.5rem 1.5em;
  /* position: relative; */
  border-radius: 1rem;
}

.services__card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.services__title {
  font-size: var(--h3-font-size);
  /* margin-bottom: var(--mb-1); */
  margin-bottom: 2.5rem;

  font-weight: var(--font-medium);
}

.services__button {
  cursor: pointer;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.services__button:hover .services__icon {
  transform: translateX(0.25rem);
}

.services__icon {
  font-size: 1rem;
  transition: 0.4s;
}

.services__modal {
  position: fixed;
  inset: 0;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* padding: 0 1rem; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: var(--z-modal);
}

.services__modal-content {
  position: relative;
  /* background-color: var(--container-color); */
  background-color: var(--body-color);
  /* padding: 1.5rem; */
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.services__modal-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.services__modal-list {
  display: grid;
  row-gap: 0.75rem;
}

.services__modal-item {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.services__modal-icon {
  font-size: 1rem;
  color: var(--first-color);
}

.services__modal-info {
  font-size: 1rem;
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== PORTFOLIO ====================*/
.portfolio__container {
  padding-top: 1rem;
}

.portfolio__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.portfolio__card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  transition: 0.3s;
}

.portfolio__img {
  height: 350px;
  width: 350px;
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  object-fit: cover;
}

.portfolio__content {
  padding: 0 1.5rem;
}
.portfolio__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}
.portfolio__button-container {
  display: flex;
  column-gap: 1rem;
}

.portfolio__button {
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.portfolio__description {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.portfolio__button:hover .portfolio__icon {
  transform: translateX(0.25rem);
}
.portfolio__icon {
  font-size: 1rem;
  transition: 0.4s;
}

/*==================== PROJECT IN MIND ====================*/
.project {
  text-align: center;
}

.project__bg {
  background-color: var(--bg-color-dark-md);
  padding-top: 3rem;
}

.project__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
  color: var(--white-color);
}

.project__description {
  margin-bottom: var(--mb-1-5);
  color: var(--white-color);
}

.project__img {
  justify-self: center;
}

/*==================== CONTACT ME ====================*/
.contact__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact__title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  gap: 1rem;
}

.contact__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.contact__card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.contact__icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}
.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}
.contact__card-title {
  font-weight: var(--font-medium);
}

.contact__card-data {
  display: block;
  margin-bottom: 0.75rem;
}

.contact__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}
.contact__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1rem;
  border-radius: 0.75rem;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

/*==================== FOOTER ====================*/
.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--bg-color-dark-md);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link {
  color: var(--white-color);
}

.footer__social {
  font-size: 2rem;
  margin-right: var(--mb-1);
}

.footer__social:hover,
.footer__social:focus {
  color: var(--primary-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: var(--white-color);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  background-color: var(--bg-color-dark-md);
  opacity: 0.8;
  padding: 0 0.3rem;
  cursor: pointer;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== BREAKPOINTS ====================*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    /* padding: 2rem 0.25rem 4rem; */
    padding: 1rem 1.5rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .skills__box {
    column-gap: 1rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services__content {
    padding-right: 3.5rem;
    text-align: center;
  }

  .services__modal {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 576px) {
  .home__content {
    grid-template-columns: max-content repeat(2, 1fr);
  }
  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 2;
    justify-self: center;
  }

  .about__container,
  .portfolio__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__img {
    width: 300px;
  }

  .qualification__tabs {
    flex-direction: row;
  }

  #middle__line {
    display: block;
    margin-top: 3.75rem;
  }
  .qualification__detail {
    margin-bottom: 1rem;
  }

  .skills__container,
  .project__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__content {
    padding: 2rem 4rem;
  }

  .services__modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }
  .services__modal-description {
    padding: 0 3.5rem;
  }

  .portfolio__container {
    justify-content: center;
  }

  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) {
  .portfolio__container {
    grid-template-columns: repeat(2, max-content);
  }

  .contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 4rem 0 1rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__subtile {
    margin-bottom: var(--mb-2);
  }

  .home__scroll {
    display: block;
    text-align: center;
  }

  .about__container {
    column-gap: 5rem;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }

  .about__buttons {
    justify-content: initial;
  }

  .services__container {
    grid-template-columns: 1fr;
    place-content: center;
  }

  .services__icon {
    font-size: 2rem;
  }

  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }

  .services__modal-content {
    width: 40rem;
  }

  .portfolio__img {
    width: 320px;
  }

  .portfolio__content {
    align-items: center;
  }

  .project {
    text-align: initial;
  }

  .project__img {
    width: 320px;
  }
  .project__bg {
    background: none;
  }

  .project__container {
    background-color: var(--bg-color-dark-md);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }

  .project__data {
    padding-top: 0.8rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 6.5rem 0 1rem;
  }
  .section__title {
    margin-bottom: 1.5rem;
  }

  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__img {
    width: 320px;
  }
  .home__social {
    transform: translateX(-6rem);
  }

  .home__social-icon {
    padding: 0.4rem;
  }

  .services__container {
    grid-template-columns: 1fr;
    place-content: center;
  }

  .portfolio__content {
    column-gap: 5rem;
  }

  .portfolio__container {
    gap: 3rem;
  }
  .portfolio__card {
    padding: 1.25rem;
  }
  .portfolio__img {
    margin-bottom: 1rem;
  }
  .portfolio__title {
    margin-bottom: 0.5rem;
  }

  /* .skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap:3rem;
  } */
  .services__container {
    column-gap: 3rem;
  }
  .services__card {
    padding: 5rem 2rem 1.5rem;
  }

  .contact__container {
    column-gap: 6rem;
  }
}
